.geo {
    font-family: "Arial GEO", sans-serif;
  }
  .irubaqidze {
    font-family: "BPG Irubaqidze", sans-serif;
  }
  .dedaena {
    font-family: "BPG DedaEna Nonblock", sans-serif;
  }
  .alk {
    font-family: "ALK Life", sans-serif;
  }
  body {
    min-height: 100vh;
    background-image: url("./მზაპროდუქტები/back.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  header {
    margin-bottom: 10%;
    margin-top: 20px;
  }
  nav {
    display: none;
    height: 800px;
    width: 83%;
    margin-top: 30px;
    margin-left: 22%;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .active {
    font-size: 30px;
    letter-spacing: 3px;
    color: rgb(228, 98, 174);
  }
  .li_design {
    font-size: 30px;
    font-weight: 500;
    color: dodgerblue;
    letter-spacing: 3px;
    transition: all 0.5s ease-in;
  }
  .home_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50%;
    width: 100%;
  }
  .name-div {
    display: flex;
    width: min-content;
    align-items: end;
    gap: 5px;
    position: relative;
  }
  .fa-heart {
    position: absolute;
    top: 10px;
    left: 7px;
  }
  @keyframes heart {
    from {
      color: lightpink;
    }
    to {
      color: rgb(228, 98, 174);
    }
  }
  .heart {
    width: 1px;
    height: 1px;
    color: lightpink;
    animation-name: heart;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .name {
    display: flex;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    color: rgb(228, 98, 174);
  }
  .house-icon {
    width: 30px;
    height: 30px;
  }
  main {
    margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .child {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .img {
    border-radius: 10px;
    width: 250px;
    height: 150px;
    opacity: 1;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
  }
  
  .title_price {
    position: absolute;
    left: 70px;
    top: 18%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .title {
    text-align: start;
    font-size: 25px;
    font-weight: 900;
    color: rgb(183, 212, 113);
    letter-spacing: 3px;
  }
  .price {
    font-weight: 700;
    color: rgb(118, 145, 57);
    text-align: center;
  }
  .li_design:hover {
    color: rgb(228, 98, 174);
    transition: all 0.5s ease;
  }
  .child:hover .title_price {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  
  .child:hover .img {
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
  }
  footer {
    margin-top: 50px;
    border-top: 10px dotted rgb(226, 221, 170);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    gap: 20px;
  }
  .footer_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    padding-left: 25px;
    gap: 10px;
  }
  
  .addres {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 194, 134);
  }
  .information-div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .information {
    font-weight: 400;
    font-size: 20px;
    color: rgb(204, 216, 98);
    letter-spacing: 3px;
  }
  .contact > p {
    color: rgb(174, 216, 96);
    font-size: 20px;
    font-weight: 400;
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .contact > a {
    color: #0caed6;
    font-size: 16px;
  }
  
  @media (min-width:768px) {
    .container1{
      width: 80%;
    }
    .footer_info {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: auto;
      gap: 30px;
    }
  }
  @media (min-width:1024px) {
    .Menu {
      display: none;
    }
    nav {
      display: flex;
      align-items: center;
      height: auto;
      width: 50%;
      margin-top: 30px;
      margin-left: 0;
      margin-top: 0;
    }
    .home_icon {
      width: auto;
    }
    header {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      width: 100%;
      gap: 15%;
      align-items: end;
      justify-content: space-evenly;
    }
  
    ul {
      display: flex;
      flex-direction: row;
      width: auto;
      gap: 20px;
    }
    .house-icon {
      width: 50px;
      height: 50px;
    }
    .fa-heart {
      position: absolute;
      top: 20px;
      left: 16.5px;
    }
    @keyframes heart {
      from {
        color: rgb(238, 224, 234);
      }
      to {
        color: rgb(228, 98, 174);
      }
    }
    .heart {
      width: 5px;
      height: 5px;
      color: lightpink;
      animation-name: heart;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
    .name {
      display: flex;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 2px;
      color: rgb(228, 98, 174);
    }
    .li_design {
      font-size: 20px;
    }
    .active {
      font-size: 20px;
    }
    .img {
      border-radius: 10px;
      width: 400px;
      height: 350px;
      object-fit: cover;
      cursor: pointer;
    }
  
    footer {
      justify-content: center;
    }
    .footer_info {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: auto;
      gap: 30px;
    }
  
    .addres {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(243, 206, 137);
    }
    .information-div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .information {
      font-weight: 400;
      font-size: 30px;
      color: rgb(190, 223, 100);
      letter-spacing: 3px;
    }
    .contact > p {
      color: rgb(200, 221, 122);
      font-size: 23px;
      font-weight: 400;
    }
    .contact {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .contact > a {
      color: #0caed6;
      font-size: 20px;
    }
  }
  @media (min-width: 1440px) {
    .Menu {
      display: none;
    }
    nav {
      display: flex;
      align-items: center;
      height: auto;
      width: 40%;
      margin-top: 30px;
      margin-left: 0;
      margin-top: 0;
    }
    .home_icon {
      width: auto;
    }
    header {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      width: 100%;
      gap: 15%;
      align-items: end;
      justify-content: space-evenly;
    }
  
    ul {
      display: flex;
      flex-direction: row;
      width: auto;
    }
    .house-icon {
      width: 50px;
      height: 50px;
    }
    .fa-heart {
      position: absolute;
      top: 20px;
      left: 16.5px;
    }
    @keyframes heart {
      from {
        color: rgb(238, 224, 234);
      }
      to {
        color: rgb(228, 98, 174);
      }
    }
    .heart {
      width: 5px;
      height: 5px;
      color: lightpink;
      animation-name: heart;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
    .name {
      display: flex;
      font-size: 30px;
      font-weight: 900;
      letter-spacing: 2px;
      color: rgb(228, 98, 174);
    }
    .li_design {
      font-size: 20px;
    }
    .active {
      font-size: 20px;
    }
    .img {
      border-radius: 10px;
      width: 500px;
      height: 450px;
      object-fit: cover;
      cursor: pointer;
    }
  
    footer {
      flex-direction: row;
      justify-content: center;
      gap: 10%;
    }
    .footer_info {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      width: auto;
      gap: 30px;
    }
  
    .addres {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(243, 206, 137);
    }
    .information-div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .information {
      font-weight: 400;
      font-size: 30px;
      color: rgb(173, 206, 95);
      letter-spacing: 3px;
    }
    .contact > p {
      color: rgb(200, 230, 131);
      font-size: 23px;
      font-weight: 400;
    }
    .contact {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .contact > a {
      color: #0caed6;
      font-size: 20px;
    }
  }